#wrap {
    background: #e7e7e7;
    padding: 40px;
    text-align: center;
    width: 600px;  
}

#demo {
	-webkit-box-shadow: 5px 5px 15px 5px #2078FF; 
	box-shadow: 5px 5px 15px 5px #2078FF;
	font-family: "Times New Roman", Times, serif;
     display: inline-block;    
     padding: 20px; 
}